
/* .section1{
    height: 200px;
    background-color: aqua;
}
.section2{
    height: 100px;
    background-color: brown;
} */
p > a{
    text-decoration: none;
}
.under > a{
    text-decoration: none;
}